<h1>新しい習慣を登録しよう！！！</h1>

<%= form_with model: @task, class: :from, local: true do |form|%>
  <div>
    <%= form.text_field :task_name, placeholder: "なんの習慣？？？",class: :form__title%>
  </div>
  <div>
    <%= form.text_area :content, placeholder: "どんな内容？？？"%>
  </div>
  <div>
    <%= form.submit "☆登録☆"%>
  </div>
<%end%>
