<div class="top">
    <h1>
    Your Leveling
    </h1>

    <h2>
    あなたの<span>習慣</span>を支えます
    </h2>

    <h2>
    努力を<span>可視化</span>しモチベーションを上げましょう！
    </h2>


        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
</div>




